<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.choo.mapper.BoardAttachMapper">
    <insert id="insert">
        insert into c_attach (uuid, uploadPath, fileName, fileType, bno)
        values (#{uuid}, #{uploadPath}, #{fileName}, #{fileType}, #{bno})
    </insert>

    <delete id="delete">
        delete from c_attach where uuid = ${uuid}
    </delete>

    <select id="findByBno" resultType="org.choo.domain.BoardAttachVO">
        select * from c_attach where bno = #{bno}
    </select>

    <delete id="deleteAll">
        delete from c_attach where bno = #{bno}
    </delete>

    <select id="getOldFiles" resultType="org.choo.domain.BoardAttachVO">
        select * from c_attach where uploadPath = DATE_FORMAT(NOW() - INTERVAL 1 DAY,'%Y\%m\%d')
    </select>


</mapper>